h1{
	margin: 2em 0 2em 0;
	text-align:center;
}

.slider{
  	// height: 250px;
  	overflow: hidden;
    width: 80%;
    ul{
  		list-style: none;
    	margin: 0;
    	padding: 0;
    	position: relative;
    	li{
        	float: left;	
        	display: none;
    	}
    	li:nth-child(1){
    		display: block;
    	}
   }
}

//oferta dużo elementów!
#oferta{
	.row{
		background-color: #C2B280;
		p{
			margin: 1em 0 1em 0;
		}
		.offer{
			margin-left: 6em;
			.coal{
				display: inline;
				width: default;
				margin: 0 10em 1em 0;

			}
			.desc{
				display: none;
		
			}
			.cost{
				font-size: 1.5em;
				margin-left: 12em;
				display: inline;

			}
		}
	}		
}

//kontakt!!
#kontakt{
		.row{
		margin: 0 0 0 4em;
		h3{
			text-align: center;
			margin-top: 2em;
		}
		p{
			margin-bottom: 2em;
			text-align: center;
			font-size: 1.2em;

		}
		iframe{
			margin-top: 2em;
		}
	}
}

form{
	label{
		margin-top: 2em; 
	}
	.input{
		width: 20em;
		margin-bottom: 1.5em;
		clear: both;
		margin-left: 4.5em;
	}
	#name{
		width: 60%;
		margin-left: 4em;
	}
	#surname{
		width: 60%;
		margin-left: 4em;
	}
	#mail{
		width: 60%;
		margin-left: 4em;
		
	}
	button{
		margin-top: 1em;
	}
	textarea{
		width: 24em;
		height: 5em;
		resize: none;
	}
}






